body {
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: blueviolet;
}

.inputBox {
  width: 250px;
}

#toDoList {
  padding: 0;
  list-style: none;
}

li {
  margin: 10px;
}

.paragraph {
  margin-right: 10px;
}
